{% extends "headphones/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.category }}{% else %}Headphones{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Category</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "headphones:headphone_list" %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.category }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.category }}{% else %}Headphones{% endif %}</h1>
        {% for headphone in headphones %}
         
            <div class="item">
                
                <a href="{{ headphone.get_absolute_url }}">
                    <img class="imagemod" src="{% if headphone.image %}{{ headphone.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a><br>
                <a href="{{ headphone.get_absolute_url }}">{{ headphone.name }}</a><br>
                £{{ headphone.price }}
                
            </div>
         
        {% endfor %}
    </div>
{% endblock %}