{% extends "books/base.html" %}
{% load static %}

{% block title %}
    {% if genre %}{{ genre.genre }}{% else %}Books{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Genres</h3>
        <ul>
            <li {% if not genre %}class="selected"{% endif %}>
                <a href="{% url "books:book_list" %}">All</a>
            </li>
        {% for g in genres %}
            <li {% if genre.slug == g.slug %}class="selected"{% endif %}>
                <a href="{{ g.get_absolute_url }}">{{ g.genre }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="book-list">
        <h1>{% if genre %}{{ genre.genre }}{% else %}Books{% endif %}</h1>
        {% for book in books %}
         
            <div class="item">
                
                <a href="{{ book.get_absolute_url }}">
                    <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static "books/img/no_image.png" %}{% endif %}">
                </a><br>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a><br>
                £{{ book.price }}
                
            </div>
         
        {% endfor %}
    </div>
{% endblock %}